@import "src/styles/constans";
@import "src/styles/mixin";

.photo-lg {
  width: 30%;
  height: 175px;
  position: relative;

  & .discount {
    position: absolute;
    inset: 0;
    width: 53px;
    height: 31px;
    background-color: $Pink;
    color: $White;
    font-weight: bold;
    @include flexCenter();
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.photo-md {
    width: 275px;
    height: 175px;
    position: relative;

    & .discount {
      position: absolute;
      inset: 0;
      width: 53px;
      height: 31px;
      background-color: $Pink;
      color: $White;
      font-weight: bold;
      @include flexCenter();
    }

    & img {
      width: 275px;
      height: 175px;
      object-fit: cover;
    }
}