@import "src/styles/constans";
@import "src/styles/mixin";

.wrapper {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.blockLg {
  overflow: hidden;
  position: relative;
  cursor: pointer;

  & .swiper {
    width: 100%;
    height: 100%;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  & h3 {
    width: 289px;
    height: 100px;
    background-color: $White;
    border-radius: 4px;
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    @include flexCenter();
    text-transform: uppercase;
  }
}

.blockSm {
  position: relative;
  overflow: hidden;
  cursor: pointer;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  & h3 {
    box-sizing: content-box;
    width: 86px;
    height: 48px;
    background-color: $White;
    padding: 13px 25px;
    border-radius: 4px;
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    @include flexCenter();
    text-transform: uppercase;
    font-size: 14px;
  }
}