//font-family
$Head-logo: e-UkraineHead-LOGO;
$Head-bold: e-UkraineHead-Bold;
$Head-medium: e-UkraineHead-Medium;
$Head-regular: e-UkraineHead-Regular;
$Bold: e-Ukraine-Bold;
$Medium: e-Ukraine-Medium;
$Regular: e-Ukraine-Regular;
$Light: e-Ukraine-Light;
$Ultra-light: e-Ukraine-UltraLight;

//font-size
$Main-size: 16px;
$Main-interval: 24px;

$Link-size: 12px;
$Link-interval: 16px;

$Head-1-size: 56px;
$Head-1-interval: 60px;

$Head-2-size: 38px;
$Head-2-interval: 40px;

$Head-3-size: 28px;
$Head-3-interval: 32px;

$Head-4-size: 24px;
$Head-4-interval: 28px;

$Head-describe: 13px;
$Head-describe-interval: 18px;

//colors
$Keppel: #5FB49C;
$Celadon: #98DFAF;
$Tea: #deefb7;
$Dark-Blue: #414288;
$Purple: #682D63;
$Dark: black;
$White: white;

$Tea-transparent: rgba(222, 239, 183, 0.25);
$Keppel-transparent: rgba(95, 180, 156, 0.25);
