@import "fonts.scss";
@import "constans.scss";

* {
  font-family: $Regular;
  font-size: $Main-size;
  line-height: $Main-interval;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $Head-regular;
}

h2 {
  padding: 70px 0;
}

h1 {
  font-size: $Head-1-size;
  line-height: $Head-1-interval;
}

h2 {
  font-size: $Head-2-size;
  line-height: $Head-2-interval;
}

h3 {
  font-size: $Head-3-size;
  line-height: $Head-3-interval;
}

h4 {
  font-size: $Head-4-size;
  line-height: $Head-4-interval;
}

a {
  font-size: $Link-size;
  line-height: $Link-interval;
  color: $Dark;
  text-decoration: none;
}

p {
  font-family: $Regular;
  font-size: $Main-size;
  line-height: $Main-interval;
}

button {
  color: $White;
  cursor: pointer;

  outline: none;
  border: none;
}
